<style>
.log{ height:38px;float:right; font-size:12px}
.log span{color:#666}
.log a{color:#666;text-decoration: none;font: 12px/1.5 微软雅黑;}
.log .snda{ position:relative; bottom:-3px}
.log .upv_btn{height: 24px; padding-left: 14px; position: relative; background:url({IMG_PATH}up_btn.gif) no-repeat 0px 0px; margin-left:0px; margin-right:10px; *background-position:0px 5px;}
.log .r{float:right;}
</style>
<body style="background-color:transparent">
<div class="log w27">
    {if $_username} <a href="{APP_PATH}index.php?m=member&siteid={$siteid}" target="_blank">{get_nickname()}</a>
    <a href="{APP_PATH}index.php?m=member&c=index&a=logout&forward={urlencode($_GET['forward'])}&siteid={$siteid}" target="_top">{L('logout')}</a>
    {else}
    <span class="r">
        <a href="{APP_PATH}index.php?m=member&c=index&a=register&siteid={$siteid}" target="_blank">{L('register')}</a> <span>|</span>
        <a href="{APP_PATH}index.php?m=member&c=index&a=login&forward={urlencode($_GET['forward'])}&siteid={$siteid}" target="_top">{L('login')}</a>
    </span>
{/if}</div>
</body>